@import 'mixins';
@import 'fonts';


header {
    width: 100%;
    background-color: $orange;
}

.header {
    margin: 0 auto;
    display: flex;
    height: 120px;


    &__logo {
        margin-top: 40px;
        margin-bottom: 40px;

    }

    /* nav ul li :nth-child(n+2) {
        color: $semiBlack;
    } */

    &__nav {
        margin: 49px 0 47px 18px;

        li  {
            @include horizontal-list;
            margin-left: 40px;
            
            
            a {
                text-decoration: none;
                color: $white;
                
            }
        }
    }

    
    &__searchContainer {
        display: flex;
        background: $lightGrey;
        margin: 32px 178px 32px 40px;
        border-radius: 4px 4px 0 0;
        padding: 19px 14px 19px 16px;

        input {
            @include inputs;
            border: none;
            color: $semiBlack;

        }

        input:focus {
            outline: none;
        }
    }

    &__icons {
        margin-top: 49px;
        display: flex;
    }

}