@import 'mixins';
@import 'fonts';


header {
    width: 100%;
    background-color: $orange;
}

.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    


    &__logo {
        margin-right: 18px;

    }

    /* nav ul li :nth-child(n+2) {
        color: $semiBlack;
    } */

    &__nav {
        /* padding: 49px 0 47px 18px; */
        display: flex;
        height: 100%;
        
        ul {
            height: 100%;
            padding-top: 10%;
        }

        li  {
            @include horizontal-list;
            margin-left: 40px;
            height: 100%;
            
            
            a {
                text-decoration: none;
                color: $white;
                height: 100%;
                display: inline-block;
                transition: all 0.3s;
                
                &:hover {
                    border-bottom: 5px solid #000;
                    
                }
            }
        }
    }

    
    &__searchContainer {
        display: flex;
        background: $lightGrey;
        margin-left: 40px;
        /* margin: 32px 178px 32px 40px;*/
        border-radius: 4px 4px 0 0;
        padding: 19px 14px 19px 16px; 

        input {
            @include inputs;
            border: none;
            color: $semiBlack;

        }

        input:focus {
            outline: none;
        }
    }

    &__icons {
       /*  margin-top: 49px; */
        display: flex;
        :not(:first-child) {
            margin-left: 24px;
        }
        :first-child {
            margin-left: 178px;
        }
    }

}