@mixin inputs {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Inter';
    background: none;

}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

}

@mixin horizontal-list {
    @include reset-list;
    /*font-family: 'Inter';*/
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $white;


}

@mixin breadcrumbs {
    /*font-family: 'Inter';*/
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

}

@mixin breadcrumbs-arrows {
    margin-left: 10px;
    margin-right: 12px;
    color: $semiBlack;
    content: ">\00a0";
}

@mixin product-headline {
    /*font-family: 'Poppins';*/
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: $semiBlack;
}

@mixin stock-info-span {
    color: $orange;

}

@mixin stock-info {
    /*font-family: 'Inter';*/
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $semiBlack;
}

@mixin p-info {
    /*font-family: 'Inter';*/
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $semiBlack;
}

@mixin select-label {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    color: $darkGrey;
}

@mixin select-box {
    background-color: $white;
    padding: 4px 12px 12px 16px;
    /* width: 200px; */
    border-bottom: 1px solid $mediumGrey;
    border-radius: 4px 4px 0 0;
}

@mixin btn-fonts {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

@mixin btn {
    @include btn-fonts;
    background-color: $green;
    padding: 11px 24px 13px 25px;
    color: $white;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

@mixin btn-contact {
    @include btn-fonts;
    background-color: $white;
    padding-right: 25px;
    color: $green;
    border-color: $mediumGrey;
    margin-left: 8px;
}

@mixin description-headline {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: $semiBlack;
}

@mixin btn-more {
    @include btn-fonts;
    background-color: $white;
    padding: 11px 32px 13px 32px;
    color: $orange;
    border: 1px solid $mediumGrey;
    border-radius: 4px;
    cursor: pointer;
    }

@mixin table-th {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: $orange;
}

@mixin table-td {
    font-weight: 400;
    color: $semiBlack;
}

@mixin table-borders {
    border: none;
    text-align: left;
    padding: 8.87px 0 7.11px 20px;
}

/*Media Query*/
@mixin mobile-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}