@import 'mixins';
@import 'fonts';

.product {
    margin: 0 auto;

    &__breadcrumbs {
        padding-bottom: 26px;

        li {
            @include reset-list;
            @include breadcrumbs;

            a {
                color: $semiBlack;
            }
        }

        li+li:before {
            @include breadcrumbs-arrows;
        }
    }

    &__headlineAndIcons {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h1 {
            @include product-headline;
        }

        &__icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            :nth-child(1),
            :nth-child(2),
            :nth-child(3) {
                margin-left: 20px;
            }

            :nth-child(4) {
                margin-left: 18px;
            }

            img {
                cursor: pointer;
            }
        }
    }

    &__info {
        margin-top: 36px;
        display: flex;
        justify-content: space-around;

        &__image {
            margin-right: 32px;

            :nth-child(2) {
                position: relative;
                right: 0;
                bottom: 224px;
                cursor: pointer;
            }

            :nth-child(3) {
                position: relative;
                left: 581px;
                bottom: 224px;
                cursor: pointer;
            }
        }

        &__stock {
            background-color: $lightGrey;
            padding: 24px 32px 66px 32px;

            .stockInfo {
                @include stock-info;
                margin-bottom: 13.19px;
            }

            span {
                @include stock-info-span;
            }

            p {
                @include p-info;
            }

            &__inputWrapper {
                margin-top: 23.76px;
                display: flex;

                :nth-child(1) {
                    margin-right: 22px;
                }

                .selectType {
                    @include inputs;
                    border: none;
                    width: 173px;
                    margin-left: -4px;
                }

                &__model,
                &__color {
                    @include select-box;

                    label {
                        @include select-label;
                    }
                }
            }

            #checkboxShort {
                margin-top: 21.31px;

            }

            #checkboxLong {
                margin-top: 12.01px
            }

            /* checkbox */
            &__chechboxContainer {
                @include inputs;
                display: block;
                position: relative;
                padding-left: 27px;
                margin-left: 0;
                cursor: pointer;
                line-height: 24px;
                color: $semiBlack;

            }

            /* default checkbox hide */
            &__chechboxContainer input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            /* new checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 20px;
                background-color: $lightGrey;
                border: 2px solid $checkboxGrey;
                border-radius: 4px;
            }

            &__chechboxContainer input:checked~.checkmark {
                background-color: $green;
                border: 2px solid $green;
            }

            /* chechmark */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            &__chechboxContainer input:checked~.checkmark:after {
                display: block;
            }

            &__chechboxContainer .checkmark:after {
                left: 4px;
                top: 2px;
                width: 4px;
                height: 7px;
                border: solid $white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }

            /* checkbox end */

            &__btnWrapper {
                margin-top: 25.66px;
                display: flex;

                button {
                    @include btn;
                }

                .btnContac {
                    @include btn-contact;

                }
            }
        }
    }
}

/* mobile se sm */
@include mobile-se-sm {
    .product__headlineAndIcons__icons {
        left: 43%;
    }

    .product__info__stock__btnWrapper button {
        padding: 11px 23px 13px;
    }
}


/*mobile md*/
@include mobile-md {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .product {
        padding-left: 24px;
        padding-right: 23px;

        &__breadcrumbs {
            padding-bottom: 18px;
        }

        &__headlineAndIcons {
            width: 100%;

            h1 {
                font-size: 28px;
                line-height: 36px;
            }
        }

        &__info {
            margin-top: 24px;
            flex-direction: column;

            &__image {
                margin-right: 0;

                :nth-child(2) {
                    height: 48px;
                    width: 48px;
                    bottom: 219px;
                    left: 57px;
                }

                :nth-child(3) {
                    height: 48px;
                    width: 48px;
                    bottom: 219px;
                    left: 535px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__stock {
                width: 100%;
                margin-top: 23.79px;
                padding: 24px 16px 32px 24px;

                .stockInfo {
                    margin-bottom: 14px;
                }

                p {
                    font-size: 14px;
                }

                &__inputWrapper {
                    margin-top: 19px;
                    flex-direction: column;

                    :nth-child(1) {
                        margin-right: 0;
                    }

                    &__model {
                        width: 100%;
                    }

                    &__color {
                        width: 100%;
                        margin-top: 16px;
                    }

                    .selectType {
                        width: 100%;
                    }

                }

                #checkboxShort {
                    margin-top: 17px;
                }

                #checkboxLong {
                    margin-top: 14px
                }

                &__btnWrapper {
                    margin-top: 16px;
                }
            }
        }
    }
}



/* mobile sm */
@include mobile-sm {
    .product__info__image :nth-child(3) {
        left: 70%;
        bottom: 154px;
    }

    .product__info__image :nth-child(2) {
        left: 12px;
        bottom: 154px;
    }

    .product {
        &__headlineAndIcons {
            display: inline;

            h1 {
                padding-right: 24px;
            }

            &__icons {
                position: relative;
                top: -25px;
                left: 49%;
                display: inline;
            }
        }
    }
}



/* mobile - tablet */
@include mobile-tablet {
    .product__info__image :nth-child(3) {
        left: 64%;
    }
}

/* laptop lg*/
@include laptop-lg {
    .product {
        &__info {
            margin-top: 24px;
            flex-direction: column;

            &__image {
                margin-right: 0;

                :nth-child(2) {
                    height: 48px;
                    width: 48px;
                    bottom: 219px;
                    left: 57px;
                }

                :nth-child(3) {
                    height: 48px;
                    width: 48px;
                    bottom: 219px;
                    left: 703px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}