@import 'mixins';
@import 'fonts';

.product {
    margin: 0 auto;

    &__breadcrumbs {
        li {
            @include reset-list;
            @include breadcrumbs;
            padding-bottom: 26px;

            a {
                text-decoration: none;
                color: $semiBlack;
            }
            
        }

        li+li:before {
            @include breadcrumbs-arrows;
        }
    }

    &__headlineAndIcons {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h1 {
            @include product-headline;
            /* margin-top: 26px; */
            
        }
        &__icons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            :nth-child(1),
        :nth-child(2), :nth-child(3) {
            margin-left: 20px;
        }

        :nth-child(4) {
            margin-left: 18px;
        }

        img {
            cursor: pointer;
        }
        }

        
    }

    &__info {
        margin-top: 36px;
        display: flex;
        justify-content: space-around;

        &__image {
            margin-right: 32px;

            :nth-child(2) {
                position: relative;
                right: 0;
                bottom: 224px;
                cursor: pointer;
            }

            :nth-child(3) {
                position: relative;
                left: 581px;
                bottom: 224px;
                cursor: pointer;
            }
        }

        &__stock {
            background-color: $lightGrey;
            padding: 24px 32px 66px 32px;

            .stockInfo {
                @include stock-info;
                margin-bottom: 13.19px;
            }

            span {
                @include stock-info-span;
            }

            p {
                @include p-info;

            }

            &__inputWrapper {
                margin-top: 23.76px;
                display: flex;
                :nth-child(1) {
                    margin-right: 22px
                }

                .selectType {
                    @include inputs;
                    border: none;
                    width: 173px;
                    margin-left: -4px;
                }
               
                &__model, &__color {
                    @include select-box;
                    
                    label {
                        @include select-label;
                    }
                }
            }
            

            #checkboxShort {
                margin-top: 21.31px;
                
            }
            
            #checkboxLong {
                margin-top: 12.01px
            }
           
            /* checkbox */
            &__chechboxContainer {
                @include inputs;
                display: block;
                position: relative;
                padding-left: 27px;
                margin-left: 0;
                cursor: pointer;
                line-height: 24px;
                color: $semiBlack;
                
              }
              
              /* default checkbox hide */
              &__chechboxContainer input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              
              /* new checkbox */
              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 20px;
                background-color: $lightGrey;
                border: 2px solid $checkboxGrey;
                border-radius: 4px;
              }
              
              &__chechboxContainer input:checked ~ .checkmark {
                background-color: $green;
                border: 2px solid $green;
              }
              
              /* chechmark */
              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }
              
              
              &__chechboxContainer input:checked ~ .checkmark:after {
                display: block;
              }
              
              
              &__chechboxContainer .checkmark:after {
                left: 4px;
                top: 2px;
                width: 4px;
                height: 7px;
                border: solid $white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
              }
            /* checkbox end */

            &__btnWrapper {
                margin-top: 25.66px;
                display: flex;

                button {
                    @include btn;
                }
                .btnContac {
                    @include btn-contact;
                    
                }
            }
        }
    }

}
