* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import 'colors';
@import 'header';
@import 'mixins';
@import 'fonts';
@import 'product';
@import 'description';
@import 'specifications';
@import 'popup';


body {
    background: $bgColor;
    font-family: 'Inter';
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins';
}

button {
    font-family: 'Poppins';
}

th,
td {
    font-family: 'Inter';
}

a {
    text-decoration: none;
}

.container {
    max-width: 84%;
    margin: 0 auto;
}

section {
    min-width: 100%;
    margin: 0 auto;
}

section:last-child {
    background-color: $lightGrey;
}

main {
    background-color: $white;
    padding-top: 40px;
}

/*mobile responsive*/
@include mobile-md {
    .container {
        max-width: 100%;
        width: 100%;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    main {
        padding-top: 31px;
    }
}